<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.statusservice.mapper.StatusMapper">
	<select id="getStatusList"
		resultType="com.dream.statusservice.dto.StatusDto">
		select * from orders where status is null;
			</select>
	
	<update id="getUpdate">
		update orders set status = #{status} where orderNo = #{orderNo};
	</update>
</mapper>